[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-sqlalchemy = "*"
python-dotenv = "*"
flask = "*"
pandas = "*"
wtforms = "*"
flask-bootstrap = "*"
flask-wtf = "*"
joblib = "*"
nltk = "*"
sklearn = "*"
bokeh = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
