{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Urban Culture
{% endblock %}

{% block styles %}
{{super()}}
<style>
  html, body {
  margin: 0;
  height: 100%;
  }
  body {
  padding: 70px;
  display: table;
  width: 100%;
  background: url( {{ url_for('static', filename='img/sicily_bw.jpg') }} ) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  body > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  /*--- navigation bar ---*/
  .navbar {
    padding: 0;
    background: #000;
  }
  .nav-link,
  .navbar-brand {
    color: #000;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #fff;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .description {
    text-align: center;
  }
  .description h1 {
    color: #FBFFF4;
    font-size: 5rem;
    font-weight: bold;
  }
  .description p {
    color: #000;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .control-label {
    display: none;
  }
	.bk-container {
		text-align: center;
	}
	.bk-root {
	  display: inline-block;
	}
</style>
{% endblock %}

{% block scripts %}
		<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js"></script>
		<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js"></script>
		<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.js"></script>

    {{ script|safe }}
{{super()}}
{% endblock %}

{% block navbar %}
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		  <div class="container">
		    <div class="collapse navbar-collapse" id="nav-1">
		      <ul class="nav navbar-nav">
		        <li class="nav-item active">
		          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="">About</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
{% endblock %}

{% block content %}
<!-- <span> -->
	<div class-"bk-container">
		<div class="bk-root">
			{{ div|safe }}
		</div>
	</div>
<!-- </span> -->
{% endblock %}
